@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "ЗМІНИТИ ПАРОЛЬ";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center custom-login">
                <h3>@ViewData["Title"]</h3>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-12">
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-group">
                                        <label>Поточний пароль</label>
                                        <div class="form-group mb-3">
                                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Будь ласка, введіть свій старий пароль." />
                                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                        </div>
                                        <label>Новий пароль</label>
                                        <div class="form-group mb-3">
                                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Будь ласка, введіть свій новий пароль." />
                                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                        </div>
                                        <label>Підтвердіть новий пароль</label>
                                        <div class="form-group mb-4">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Підтвердьте свій новий пароль." />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group text-center mb-4">
                                            <button type="submit" class="btn btn-primary">Оновити пароль</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- main JS -->
    <script src="js/main.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
