@page
@model PersonalDataModel
@{
    ViewData["Title"] = "ОСОБИСТІ ДАНІ";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center custom-login">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-12">
                                <p class="text-center mb-3">Ваш обліковий запис містить персональні дані, які ви нам надали. Ця сторінка дозволяє завантажити або видалити ці дані.</p>
                                <p class="text-center mb-3">
                                    <strong>Видалення цих даних призведе до остаточного видалення вашого облікового запису, і його неможливо відновити.</strong>
                                </p>
                                <div class="d-flex justify-content-between mb-3">
                                    <form id="download-data" asp-page="DownloadPersonalData" method="post">
                                        <button class="btn btn-primary" type="submit">Завантажити</button>
                                    </form>
                                    <p>
                                        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Видалити</a>
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- main JS -->
    <script src="js/main.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
