@model Guid

@{
    ViewData["Title"] = "Скасувати пропозицію";
}

<div class="row justify-content-center mb-4">
    <div class="col-md-6 col-12">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1 class="mb-3">Скасувати пропозицію</h1>

                <form asp-action="Delete" enctype="multipart/form-data">
                    <input type="hidden" value="@Model">

                    <button class="btn btn-danger" type="submit">Ви впевнені, що хочете скасувати?</button>
                </form>
            </div>
        </div>
    </div>
</div>
