@page "/city/create"
@using BCS.Infrastructure.Dtos
@using BCS.Infrastructure.Interface
@using BCS.WebAssembly.Services
@inject NavigationManager NavigationManager
@inject ICity City
@inject ICity CityService

<PageTitle>Додати нове місто</PageTitle>
<EditForm Model="city" class="form-group" OnSubmit="HandleSubmit">
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-10">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="text-start mb-0">Додати нове місто</h1>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <button @onclick="Cancel" class="btn btn-outline-secondary mb-0">Скасувати</button>
                    </div>
                </div>
                <hr />

                <div class="form-group mb-3">
                    <label>Назва</label>
                    <div>
                        <InputText class="form-control" @bind-Value="city.Title" id="CityInput" placeholder="Назва міста" />
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-outline-primary">Створити</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public CityCreateDto city = new CityCreateDto();

    private async Task HandleSubmit()
    {
        await CityService.CreateCity(city);
        NavigationManager.NavigateTo("/city/index");
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo($"/city/index");
    }

}
