@page
@model ErrorModel
@{
    ViewData["Title"] = "ПОМИЛКА";
}


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- modernizr JS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center custom-login">
                <h3>@ViewData["Title"]</h3>
                <h4 class="text-danger">Сталася помилка при обробці Вашого запиту.</h4>
            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-12">
                                @if (Model.ShowRequestId)
                                {
                                    <p>
                                        <strong>Запит ID:</strong> <code>@Model.RequestId</code>
                                    </p>
                                }

                                <h5>Режим розробки</h5>
                                <p>
                                    Перехід до середовища <strong>Розробка</strong> відобразить більш детальну інформацію про помилку, яка сталася.
                                </p>
                                <p>
                                    <strong>Середовище розробки не слід вмикати в розгорнутих програмах</strong>, оскільки це може призвести до того, що конфіденційна інформація від винятків відображатиметься кінцевим користувачам. Для локального налагодження середовище розробки можна ввімкнути, установивши для змінної середовища <strong>ASPNETCORE_ENVIRONMENT</strong> значення <strong>Розробка</strong> і перезапустивши програму.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- main JS -->
    <script src="js/main.js"></script>
</body>
