@page "/privacy"

<PageTitle>Конфіденційність</PageTitle>

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-10">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="text-start mb-0">Конфіденційність</h1>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="list-group">
                        <div class="form-group mb-3">
                            <p>Це політика конфіденційності для нашого веб-сайту. Вона описує, як ми збираємо, використовуємо та захищаємо ваші персональні дані.</p>
                        </div>

                        <h4>Які дані ми збираємо</h4>
                        <div class="form-group mb-3">
                            <p>Ми можемо збирати різноманітні види інформації для різних цілей, наприклад, для забезпечення і покращення нашого сервісу.</p>
                        </div>

                        <h4>Як ми використовуємо ваші дані</h4>
                        <div class="form-group mb-3">
                            <p>Ми можемо використовувати ваші дані для різних цілей, включаючи забезпечення та покращення наших послуг, взаємодію з вами та забезпечення вашої безпеки.</p>
                        </div>

                        <h4>Як ми захищаємо ваші дані</h4>
                        <div class="form-group mb-3">
                            <p>Ми вживаємо різноманітних заходів для захисту ваших персональних даних та забезпечення їх безпеки.</p>
                        </div>

                        <h4>Політика щодо файлів cookie</h4>
                        <div class="form-group mb-3">
                            <p>Наш сайт може використовувати файли cookie для поліпшення вашого досвіду користувача. Ви можете відключити або видалити файли cookie у налаштуваннях свого веб-браузера.</p>
                        </div>

                        <h4>Зміни у цій політиці</h4>
                        <div class="form-group mb-3">
                            <p>Ми можемо час від часу оновлювати цю політику конфіденційності. Ми рекомендуємо вам періодично переглядати цю сторінку для ознайомлення з будь-якими змінами.</p>
                        </div>

                        <h4>Зв'язок з нами</h4>
                        <div class="form-group mb-3">
                            <p>Якщо у вас є питання або зауваження щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
