@model BCS.WebUI.Dtos.ComplaintCreateDto

@{
    ViewData["Title"] = "Додати скаргу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-3">@ViewData["Title"]</h1>

                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="TypeId">Тип</label>
                            <select asp-for="TypeId" class="form-control" asp-items="ViewBag.Types"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Text">Опис</label>
                            <textarea asp-for="Text" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group visually-hidden">
                            <label asp-for="StatusId">Статус</label>
                            <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="CityId">Місто</label>
                            <select asp-for="CityId" class="form-control" asp-items="ViewBag.Cities"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="StreetId">Вулиця</label>
                            <select asp-for="StreetId" class="form-control" asp-items="ViewBag.Streets"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Number">Номер будинку</label>
                            <input asp-for="Number" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Photo">Фото</label>
                            <input type="file" asp-for="Photo" class="form-control-file" />
                        </div>

                        <button type="submit" class="btn btn-primary">Створити</button>
                        <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
