@model IEnumerable<BCS.Core.Entities.Structure>

@{
    ViewData["Title"] = "Міські структури";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <a href="/structure/create" class="btn btn-primary mb-3">Додати нову структуру</a>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-3">@ViewData["Title"]</h1>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Назва</th>
                                    <th scope="col">Дії</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model)
                                {
                                    <tr>
                                        <td>@c.Title</td>
                                        <td class="text-center">
                                            <a href="/structure/update/@c.Id" class="btn btn-outline-warning me-3">Редагувати</a>
                                            <a href="/structure/delete/@c.Id" class="btn btn-outline-danger">Видалити</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
