@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="display-4 text-center mb-3">Ласкаво просимо</h1>
            <h5 class="text-center mb-3">На наш сайт "Книга скарг та пропозицій для міської адміністрації"</h5>
            <p class="text-center"><strong>Функції сайту:</strong></p>
            <ul class="list-unstyled mb-3">
                <li>Подання скарг та пропозицій: У вас є ідея, як покращити наше місто? Чи є у вас скарга щодо якості послуг? Звертайтесь до нас, щоб ваш голос був почутий!</li>
                <li>Слідкуйте за статусом: Ми розуміємо, що важливо знати, що відбувається з вашою скаргою. Тому ми надаємо можливість відстежувати її статус та отримувати повідомлення про кожну зміну.</li>
                <li>Статистика та аналітика: Ми публікуємо статистичні дані щодо кількості поданих скарг, часу реакції влади та інші важливі метрики, щоб ви могли бачити ефективність нашої роботи.</li>
            </ul>
            <p class="text-center"><strong>Ваше звернення має значення!</strong></p>
            <p>Ми віримо, що кожен мешканець має право висловлювати свої думки та допомагати у покращенні нашого міста. Тому ми створили цей сайт, щоб зробити процес подання скарг та пропозицій якнайбільш простим та зручним.</p>
            <p class="text-center mb-3"><strong>Як це працює?</strong></p>
            <ol class="list-unstyled" mb-3>
            <li>Зареєструйтеся або увійдіть в свій обліковий запис: Це забезпечить конфіденційність вашого звернення та дозволить вам відстежувати його статус.</li>
                <li>Подайте скаргу або пропозицію: Заповніть форму з необхідними даними та надішліть нам ваше повідомлення.</li>
                <li>Слідкуйте за відповіддю: Ми надсилатимемо вам повідомлення про кожну зміну статусу вашого звернення.</li>
            </ol>
            <p class="text-center"><strong>Зв'яжіться з нами:</strong></p>
            <ul class="list-unstyled text-center mb-3">
                <li>Електронна пошта: <a href="mailto:vladyslav.dzemiuk@oa.edu.ua">vladyslav.dzemiuk@oa.edu.ua</a></li>
                <li>Телефон: <a href="tel:+1234567890">+38 097 104 0317</a></li>
            </ul>
        </div>
    </div>
</div>
