@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>Дізнатися про <a href="https://learn.microsoft.com/aspnet/core">створення веб-програм за допомогою ASP.NET Core</a>.</p>
</div>
