@{
    ViewData["Title"] = "Політика конфіденційності";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <p>Це політика конфіденційності для нашого веб-сайту. Вона описує, як ми збираємо, використовуємо та захищаємо ваші персональні дані.</p>

                    <h3>Які дані ми збираємо</h3>
                    <p>Ми можемо збирати різноманітні види інформації для різних цілей, наприклад, для забезпечення і покращення нашого сервісу.</p>

                    <h3>Як ми використовуємо ваші дані</h3>
                    <p>Ми можемо використовувати ваші дані для різних цілей, включаючи забезпечення та покращення наших послуг, взаємодію з вами та забезпечення вашої безпеки.</p>

                    <h3>Як ми захищаємо ваші дані</h3>
                    <p>Ми вживаємо різноманітних заходів для захисту ваших персональних даних та забезпечення їх безпеки.</p>

                    <h3>Політика щодо файлів cookie</h3>
                    <p>Наш сайт може використовувати файли cookie для поліпшення вашого досвіду користувача. Ви можете відключити або видалити файли cookie у налаштуваннях свого веб-браузера.</p>

                    <h3>Зміни у цій політиці</h3>
                    <p>Ми можемо час від часу оновлювати цю політику конфіденційності. Ми рекомендуємо вам періодично переглядати цю сторінку для ознайомлення з будь-якими змінами.</p>

                    <h3>Зв'язок з нами</h3>
                    <p>Якщо у вас є питання або зауваження щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами.</p>
                </div>
            </div>
        </div>
    </div>
</div>
