﻿@using BCS.Repositories.Models
@model UserCreateModel

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-10">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="text-start mb-0">Новий користувач</h1>
                </div>
                <div class="col-md-6 text-md-end">
                    <a asp-action="Index" asp-controller="user" class="btn btn-outline-secondary mb-0">Скасувати</a>
                </div>
            </div>
            <hr />

            <form asp-action="Create">
                @Html.AntiForgeryToken()

                <label>Повне ім'я</label>
                <div class="form-group mb-3">
                    <input asp-for="Name" class="form-control" placeholder="Введіть повне ім'я користувача" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <label>Електронна адреса</label>
                <div class="form-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <label>Пароль</label>
                <div class="form-group mb-3">
                    <input asp-for="Password" type="text" class="form-control" placeholder="Введіть надійний пароль" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="form-group text-center mb-3">
                    <button class="btn btn-outline-primary createButtons" type="submit">Створити</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}